<?xml version="1.0" encoding="UTF-8"?>
<adapt_framework>
    <settings>
        <setting>
            <key>data_source.driver</key>
            <values>
                <value>\frameworks\adapt\data_source_mysql</value>
            </values>
        </setting>
        <setting>
            <key>data_source.host</key>
            <values>
                <value>adaptframework.cdegktucue2e.eu-west-1.rds.amazonaws.com</value>
            </values>
        </setting>
        <setting>
            <key>data_source.schema</key>
            <values>
                <value>model_testing</value>
            </values>
        </setting>
        <setting>
            <key>data_source.username</key>
            <values>
                <value>matt</value>
            </values>
        </setting>
        <setting>
            <key>data_source.password</key>
            <values>
                <value>MP1lnadn54</value>
            </values>
        </setting>
        <setting>
            <key>data_source.writable</key>
            <values>
                <value>true</value>
            </values>
        </setting>
        <setting>
            <key>smtp.host</key>
            <value>email-smtp.eu-west-1.amazonaws.com</value>
        </setting>
        <setting>
            <key>smtp.port</key>
            <value>25</value>
        </setting>
        <setting>
            <key>smtp.security</key>
            <value>tls</value>
        </setting>
        <setting>
            <key>smtp.username</key>
            <value>AKIAJKMDW27SBBDRGOAA</value>
        </setting>
        <setting>
            <key>smtp.password</key>
            <value>AuwUJCLfCQQ/4GIXcC2fuk4HJ0ia0BFtfmA0v/OfRBSq</value>
        </setting>
    </settings>
</adapt_framework>
